# Introdução ao Pandas - 1
## Leonardo Yves de Souza Melo
### (21)971771433 | prof.leoyves@gmail.com
## Fontes:
### 1) Python for Data Analysis - Wes McKinney; capítulo 5
### 2) Python for Finance - Yves Hilspisch; capítulo 5

# Bibliotecas

In [1]:
import pandas as pd
import numpy as np

## Introdução aos objetos Series

In [2]:
# objeto Series
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
# obj.values: valores guardados no objeto
# obj.index: indexador 
obj.values,obj.index

(array([ 4,  7, -5,  3], dtype=int64), RangeIndex(start=0, stop=4, step=1))

In [4]:
# construção de um objeto Series indicando a indexação
obj2 = pd.Series([4,7,-5,3],index=['d','b','a','c'])
obj2.index,obj2

(Index(['d', 'b', 'a', 'c'], dtype='object'),
 d    4
 b    7
 a   -5
 c    3
 dtype: int64)

In [5]:
# alteração dos valores do objeto Series via indexação
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [6]:
# utilizando a indexação para acessar objetos
display(  obj[0]  ,  obj2['a']  ,  obj[[2,0,3]]    ,  obj2[['c','a','d']]  )

4

-5

2   -5
0    4
3    3
dtype: int64

c    3
a   -5
d    6
dtype: int64

In [7]:
# utilização da indexação booleana para acessar objetos
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [8]:
# operações matemáticas são realizadas simultaneamente em todas as entradas
display(obj2*2, np.exp(obj2))

d    12
b    14
a   -10
c     6
dtype: int64

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [9]:
# obj2 e obj2.index significam a mesma coisa na análise da relação de inclusão
# do objeto 'b'
'b' in obj2, 'b' in obj2.index

(True, True)

In [10]:
# na análise de inclusão do objeto 6, obj2 e obj2.values são distintos
6 in obj2, 6 in obj2.values

(False, True)

### Construção de um objeto Series a partir de um objeto dict

As chaves do dicionário se transformam nos indexadores e os valores do dicionário se transformam nos valores do objeto Series correspondente.

In [11]:
sdata = {'RJ':35000,'SP':71000,'MG':16000,'ES':5000}
obj3 = pd.Series(sdata)
obj3

RJ    35000
SP    71000
MG    16000
ES     5000
dtype: int64

Os indexadores de um objeto `Series` formam um objeto `Index`, que será estudado depois. Quando ocorre a alteração do index vinculado ao dicionário `sdata`, o objeto `Series` retornado, consta sem um valor correspondente para `'DF'`.

In [12]:
# utilizando um objeto index diferente o objeto Series pode ser alterado
estados = ['DF','RJ','MG','SP']
obj4 = pd.Series(sdata,index=estados)
obj4

DF        NaN
RJ    35000.0
MG    16000.0
SP    71000.0
dtype: float64

Utilização das funções `isnull` e `notnull` para verificar a presença de valores ausentes, retornando um objeto `Series` booleano.

In [13]:
display(pd.isnull(obj4),pd.notnull(obj4))

DF     True
RJ    False
MG    False
SP    False
dtype: bool

DF    False
RJ     True
MG     True
SP     True
dtype: bool

In [14]:
display(obj3,obj4)

RJ    35000
SP    71000
MG    16000
ES     5000
dtype: int64

DF        NaN
RJ    35000.0
MG    16000.0
SP    71000.0
dtype: float64

O pandas realiza operações entre os objetos Series. Em todos os casos os index foram ordenados seguindo a ordem lexicográfica e depois apenas nos casos em que um index aparece nos dois objetos Series, a soma foi computada <br>
No caso em que não há nenhuma correspondência, nenhuma soma é realizada, situação da soma ``obj + obj2``

In [15]:
display(obj3+obj4,
        obj4+obj3,
        obj3*obj4,
        obj3/obj4,
        obj+obj2
        )

DF         NaN
ES         NaN
MG     32000.0
RJ     70000.0
SP    142000.0
dtype: float64

DF         NaN
ES         NaN
MG     32000.0
RJ     70000.0
SP    142000.0
dtype: float64

DF             NaN
ES             NaN
MG    2.560000e+08
RJ    1.225000e+09
SP    5.041000e+09
dtype: float64

DF    NaN
ES    NaN
MG    1.0
RJ    1.0
SP    1.0
dtype: float64

0   NaN
1   NaN
2   NaN
3   NaN
a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [16]:
# identificação do objeto Series e dos seus índices
obj4.name = 'população'
obj4.index.name = 'UF'
obj4

UF
DF        NaN
RJ    35000.0
MG    16000.0
SP    71000.0
Name: população, dtype: float64

In [17]:
# alteração do index 
obj.index = ['Bob','Steve','Jeff','Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64